html { 
    background: url(../images/jack-millard-1138486-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica neue' Verdana, Geneva, Tahoma, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-weight: 100;
    letter-spacing: 6;
    font-size: 40px;
}

p{
    font-weight: 200;
    font-size: 20px;
}

.profile-box{
    width: 400px;
    height: 520px;
    background: rgba(0,0,0,0.4);
    padding: 50px;
    color: white;
    margin: 0 auto;
    margin-top:70px;
    text-align: center;
}

.profile-picture{
    border-radius: 100px;
    height: 200px;
    width: 200px;

}

.social-icons{
    font-size: 40px;    
}

.line-break{
    width: 400px;
    border-top: 1px solid white;
}
